.yellow16Bold {
	font-family: Arial;
	font-size: 16px;
	color: #FFCC00;
	font-weight: bold;
}
.yellow12Bold {
	font-family: Arial;
	font-size: 12px;
	color: #FFCC00;
	font-weight: bold;
}
.yellow11Bold {
	font-family: Arial;
	font-size: 12px;
	color: #FFCC00;
	font-weight: bold;
}
.white16 {
	font-family: Arial;
	font-size: 16px;
	color: #FFFFFF;
}
.white16Center {
	font-family: Arial;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	leading: -8;
}
.white14 {
	font-family: Arial;
	font-size: 14px;
	color: #FFFFFF;
}
.white12 {
	font-family: Arial;
	font-size: 12px;
	color: #FFFFFF;
}
.white11 {
	font-family: Arial;
	font-size: 9px;
	color: #FFFFFF;
}
.white14Bold {
	font-family: Arial;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.white18 {
	font-family: Arial;
	font-size: 18px;
	color: #FFFFFF;
}
.white24Right {
	font-family: Arial;
	font-size: 24px;
	color: #FFFFFF;
	text-align: right;
}
.white20Right {
	font-family: Arial;
	font-size: 20px;
	color: #FFFFFF;
	text-align: right;
}
.white24Bold {
	font-family: Arial;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
}
