<?xml version="1.0" encoding="UTF-8"?>
<config>
	
	<!-- 
		Images
	-->
	<images>
		<image name="product" type="image" x="444" y="300">assets/P1600.png</image>
		<image name="logo" type="image" x="25" y="17">assets/logo.png</image>
		<image name="book" type="icon">assets/icon_new_book_32_white.png</image>
		<image name="video" type="icon">assets/icon_video_32_white.png</image>
		<image name="world" type="icon">assets/icon_world_32_white.png</image>
		<image name="application" type="icon">assets/icon_application_32_white.png</image>
	</images>
	

	<!-- 
		Link type to icon mapping.  Maps icon names to link types.
		viewer|externalViewer|chm|dialog|web
	-->
	<linkIcons>
		<linkType iconName="book">chm</linkType>
		<linkType iconName="video">viewer</linkType>
		<linkType iconName="video">externalViewer</linkType>
		<linkType iconName="book">dialog</linkType>
		<linkType iconName="world">web</linkType>
		<linkType iconName="application">exe</linkType>
	</linkIcons>

	<!-- 
		CHM filenames.  
		A userGuide entry is required.
	-->
	<filenames>
		<filename name="userGuide">../||langDir||/Manuals/LJP1560-LJP1600_use_||lngww||.chm</filename>
	</filenames>
	
	<!--
		Product search string.  This string is added to all "Perform search on HP.com" searches to narrow the search.
	-->
	<productSearchString>LaserJet Professional P1560 P1600 printer series</productSearchString>

	
	<messages>
		<message type="noLanguageFile" language="ENWW">Error! Language file not found!</message>
		<message type="noLanguageFile" language="DEWW">Deutsch-Dateien verfügbar. Klicken Sie auf OK, um die englische Version zu sehen.</message>
		<message type="noLanguageFile" language="ESWW">Archivos españoles no está disponible. Haga clic en Aceptar para ver la versión en Inglés.</message>
		<message type="noLanguageFile" language="FRWW">Fichiers français n'était pas disponible. Cliquez sur OK pour voir la version anglaise.</message>
		<message type="noLanguageFile" language="ITWW">File italiano non disponibile. Fare clic su OK per vedere la versione inglese.</message>
	</messages>
	
	
	<!--
		Tokens are automatically replaced in all paths and URLs.
		There are several dynamic predefined tokens, ||LNG||, ||LNGWW||, ||lng|| and ||lngww||.
		||LNG|| - the current language abbreviation in uppercase (EN, ES, DE, ZHTW, ZHCN, ect)
		||LNGWW|| - the current language abbreviation including a WW designation if appropriate in uppercase (ENWW, ESWW, DEWW, ZHTW, ZHCN, ect)
		||lng|| - the current language abbreviation in lowercase (en, es, de, zhtw, zhcn, ect)
		||lngww|| - the current language abbreviation including a WW designation if appropriate in lowercase (enww, esww, deww, zhtw, zhcn, ect)
		||sq|| - the current search query
		
		Note: To create a token name, use only alpha characters surrounded by two pipe symbols. ie - ||token||   
	 -->

	<tokens token="||con||">
		<value language="ARWW">c01715022</value>
		<value language="BGWW">c01715035</value>
		<value language="CAWW">c01715037</value>
		<value language="CSWW">c01715039</value>
		<value language="DAWW">c01715043</value>
		<value language="DEWW">c01715047</value>
		<value language="ELWW">c01715061</value>
		<value language="ENWW">c01714998</value>
		<value language="ESWW">c01715065</value>
		<value language="ETWW">c01715076</value>
		<value language="FIWW">c01715078</value>
		<value language="FRWW">c01715081</value>
		<value language="HEWW">c01715085</value>
		<value language="HRWW">c01715086</value>
		<value language="HUWW">c01715088</value>
		<value language="IDWW">c01715089</value>
		<value language="ITWW">c01715090</value>
		<value language="KKWW">c01715091</value>
		<value language="KOWW">c01715093</value>
		<value language="LTWW">c01715097</value>
		<value language="LVWW">c01715100</value>
		<value language="NLWW">c01715102</value>
		<value language="NOWW">c01715105</value>
		<value language="PLWW">c01715107</value>
		<value language="PTWW">c01715109</value>
		<value language="ROWW">c01715110</value>
		<value language="RUWW">c01715112</value>
		<value language="SKWW">c01715114</value>
		<value language="SLWW">c01715118</value>
		<value language="SRWW">c01715119</value>
		<value language="SVWW">c01715122</value>
		<value language="THWW">c01715123</value>
		<value language="TRWW">c01715126</value>
		<value language="UKWW">c01715127</value>
		<value language="VIWW">c01715129</value>
		<value language="ZHCN">c01715131</value>
		<value language="ZHTW">c01715133</value>
	</tokens>		
	
	<tokens token="||webSup||">
		<value language="ARWW">ar</value>
		<value language="BGWW">bg</value>
		<value language="CAWW">ca</value>
		<value language="CSWW">cs</value>
		<value language="DAWW">da</value>
		<value language="DEWW">de</value>
		<value language="ELWW">el</value>
		<value language="ENWW">en</value>
		<value language="ESWW">es</value>
		<value language="ETWW">et</value>
		<value language="FIWW">fi</value>
		<value language="FRWW">fr</value>
		<value language="HEWW">he</value>
		<value language="HRWW">hr</value>
		<value language="HUWW">hu</value>
		<value language="IDWW">id</value>
		<value language="ITWW">it</value>
		<value language="KKWW">kk</value>
		<value language="KOWW">ko</value>
		<value language="LTWW">lt</value>
		<value language="LVWW">lv</value>
		<value language="NLWW">nl</value>
		<value language="NOWW">no</value>
		<value language="PLWW">pl</value>
		<value language="PTWW">pt</value>
		<value language="ROWW">ro</value>
		<value language="RUWW">ru</value>
		<value language="SKWW">sk</value>
		<value language="SLWW">sl</value>
		<value language="SRWW">sr</value>
		<value language="SVWW">sv</value>
		<value language="THWW">th</value>
		<value language="TRWW">tr</value>
		<value language="UKWW">uk</value>
		<value language="VIWW">vi</value>
		<value language="ZHCN">zh-hans</value>
		<value language="ZHTW">zh-hant</value>
	</tokens>		
	
	<tokens token="||langDir||">
		<value language="ARWW">Arabic</value>
		<value language="BGWW">Bulgarian</value>
		<value language="CAWW">Catalan</value>
		<value language="CSWW">Cestina</value>
		<value language="DAWW">Dansk</value>
		<value language="DEWW">Deutsch</value>
		<value language="ELWW">Greek</value>
		<value language="ENWW">English</value>
		<value language="ESWW">Espanol</value>
		<value language="ETWW">Eesti</value>
		<value language="FIWW">Suomi</value>
		<value language="FRWW">Francais</value>
		<value language="HEWW">Hebrew</value>
		<value language="HRWW">Hrvatski</value>
		<value language="HUWW">Magyar</value>
		<value language="IDWW">Indonesian</value>
		<value language="ITWW">Italiano</value>
		<value language="KKWW">Kazakh</value>
		<value language="KOWW">Korean</value>
		<value language="LTWW">Lietuviskai</value>
		<value language="LVWW">Latviski</value>
		<value language="NLWW">Nederlands</value>
		<value language="NOWW">Norsk</value>
		<value language="PLWW">Polski</value>
		<value language="PTWW">Portugues</value>
		<value language="ROWW">Romanian</value>
		<value language="RUWW">Russian</value>
		<value language="SKWW">Slovak</value>
		<value language="SLWW">Slovenian</value>
		<value language="SRWW">Srpski</value>
		<value language="SVWW">Svenska</value>
		<value language="THWW">Thai</value>
		<value language="TRWW">Turkce</value>
		<value language="UKWW">Ukrainian</value>
		<value language="VIWW">Viet_Nam</value>
		<value language="ZHCN">Simplified_Chinese</value>
		<value language="ZHTW">Traditional_Chinese</value>
	</tokens>		
	
	
	<!--
		name - The name used to refer to this action.
		display - viewer|externalViewer|chm|dialog|web|exe.
		filename (chm only) - the associated chm file to open.
	 -->
	<targets>
		<target name="webSupport" display="dialog">webSupportDialog</target>
		<target name="webSupport1560" display="web"><![CDATA[http://h20180.www2.hp.com/apps/Nav?h_pagetype=s-001&h_lang=||webSup||&h_product=3435665&h_client=s-h-e009-1&h_page=hpcom&lang=||webSup||]]></target>
		<target name="webSupport1600" display="web"><![CDATA[http://h20180.www2.hp.com/apps/Nav?h_pagetype=s-001&h_lang=||webSup||&h_product=4110407&h_client=s-h-e009-1&h_page=hpcom&lang=||webSup||]]></target>
		<target name="userGuideDialogTarget" display="dialog">userGuideDialog</target>
		<target name="onlineUserGuide" display="web"><![CDATA[http://h20000.www2.hp.com/bc/docs/support/SupportManual/||con||/||con||.pdf]]></target>
		<target name="localUserGuide" display="chm" filename="userGuide">userguide.html</target>
		<target name="searchHPCom" display="web"><![CDATA[http://search.hp.com/query.html?lang=||lng||&search=++&qt=||sq||&la=||lng||]]></target>
		<target name="hpSite" display="web"><![CDATA[http://www.hp.com]]></target>
		<target name="sureSupply" display="web"><![CDATA[https://h30042.www3.hp.com/suresupply/localize/index]]></target>
		<target name="printableQuickReference" display="web"><![CDATA[http://]]></target>


		<target name="PrinterLightPatterns" display="web"><![CDATA[animations/CPSim/cpsim.html]]></target>
		
		
		<target name="FindTheIpAddress" display="chm" filename="userGuide">1_1_3_4_5_5_1.html</target>
		<target name="LoadPaperTrays" display="chm" filename="userGuide">1_1_3_5_8.html</target>
		<target name="UseHpEprint" display="chm" filename="userGuide">UseHPePrint.html</target>
		
		
		<target name="CancelAPrintJob" display="chm" filename="userGuide">1_1_3_6_2.html</target>
		<target name="OpenThePrinterDriver" display="chm" filename="userGuide">1_1_3_6_4_1.html</target>
		<target name="GetHelpForAnyPrintOption" display="chm" filename="userGuide">1_1_3_6_4_2.html</target>
		<target name="SelectAPageSize" display="chm" filename="userGuide">1_1_3_6_4_7_1.html</target>
		<target name="PrintOnBothSidesDuplex" display="chm" filename="userGuide">1_1_3_6_4_10.html</target>
		<target name="PrintMultiplePagesPerSheet" display="chm" filename="userGuide">1_1_3_6_4_12.html</target>
		<target name="SelectPageOrientation" display="chm" filename="userGuide">1_1_3_6_4_13.html</target>
		<target name="SetPaperAndQualityOptions" display="chm" filename="userGuide">1_1_3_6_4_6.html</target>
		<target name="CreateABooklet" display="chm" filename="userGuide">1_1_3_6_4_11.html</target>
		<target name="ScaleADocumentToFitPageSize" display="chm" filename="userGuide">1_1_3_6_4_8.html</target>
		<target name="PrintOnPrePrintedLetterheadOrForms" display="chm" filename="userGuide">1_1_3_5_3.html</target>
		<target name="PrintOnSpecialPaper" display="chm" filename="userGuide">1_1_3_5_4.html</target>
		<target name="PrintTheFirstOrLastPageOnDifferentPaper" display="chm" filename="userGuide">1_1_3_6_4_7.html</target>
		
		
		<target name="ViewTheHpEmbeddedWebServerEws" display="chm" filename="userGuide">1_1_3_7_4_2.html</target>
		<target name="PrintInformationPages" display="chm" filename="userGuide">1_1_3_7_2.html</target>
		<target name="ReplaceThePrintCartridge" display="chm" filename="userGuide">1_1_3_7_7_4_2.html</target>
		<target name="PrintACleaningPage" display="chm" filename="userGuide">1_1_3_7_8_2.html</target>
		<target name="ChangeEnergySettings" display="chm" filename="userGuide">1_1_3_7_4.html</target>
		<target name="SetQuietMode" display="chm" filename="userGuide">1_1_3_7_5.html</target>
		<target name="FindOrChangeTheIpAddress" display="chm" filename="userGuide">1_1_3_4_5_5_1.html</target>
		
		
		<target name="ClearPaperJams" display="chm" filename="userGuide">1_1_3_8_5.html</target>
		<target name="ReduceSteamOrVapor" display="chm" filename="userGuide">1_1_3_8_8_3_15.html</target>
		<target name="InterpretPrinterLightPatterns" display="chm" filename="userGuide">1_1_3_8_4.html</target>
		<target name="SolveImageQualityProblems" display="chm" filename="userGuide">1_1_3_8_7.html</target>


	</targets>


	<!-- 
		List of language codes and their associated Primary Laguage Identifiers.
		For the complete list see http://msdn.microsoft.com/en-us/library/ms776294%28VS.85%29.aspx#NotesPrim
		Also check http://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo(VS.71).aspx
		For Chinese check http://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo.parent(VS.80).aspx
		This list also defines the list of available languages.  Any language that is not in this list will display EN.
		The language codes must *not* contain WW.
		The language codes must be upper case.
	-->
	<languageCodes>
		<language name="AR">01</language>
		<language name="BG">02</language>
		<language name="CA">03</language>
		<language name="CS">05</language>
		<language name="DA">06</language>
		<language name="DE">07</language>
		<language name="EL">08</language>
		<language name="EN">09</language>
		<language name="ES">0a</language>
		<language name="ET">25</language>
		<language name="FI">0b</language>
		<language name="FR">0c</language>
		<language name="HE">0d</language>
		<language name="HR">1a00</language>
		<language name="HR">1a10</language>
		<language name="HR">1a04</language>
		<language name="HU">0e</language>
		<language name="ID">21</language>
		<language name="IT">10</language>
		<language name="KK">3f</language>
		<language name="KO">12</language>
		<language name="LT">27</language>
		<language name="LV">26</language>
		<language name="NL">13</language>
		<language name="NO">14</language>
		<language name="PL">15</language>
		<language name="PT">16</language>
		<language name="RO">18</language>
		<language name="RU">19</language>
		<language name="SK">1b</language>
		<language name="SL">24</language>
		<language name="SR">1a7c</language>
		<language name="SR">1a1c</language>
		<language name="SR">1a18</language>
		<language name="SR">1a0c</language>
		<language name="SR">1a08</language>
		<language name="SV">1d</language>
		<language name="TH">1e</language>
		<language name="TR">1f</language>
		<language name="UK">22</language>
		<language name="VI">2A</language>
		<language name="ZHCN">0410</language>
		<language name="ZHCN">0408</language>
		<language name="ZHTW">0404</language>
		<language name="ZHTW">040C</language>
		<language name="ZHTW">0414</language>
	</languageCodes>
	
</config>